@model List<ProcCore.Business.DB0.m_News>
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

    <h1 class="h1">@ViewBag.Title</h1>

    <section id="content">

        <h2 class="sr-only">News</h2>

        @foreach (var i in Model)
        {
            <article class="article-list">
                <i class="thumb">
                    <a href="~/News/Content?id=@i.news_id"><img data-original="@i.imgsrc" alt=""></a>
                </i>
                <h3 class="h2">
                    <small>@i.day.ToString("yyyy/MM/dd")</small>
                    <a href="~/News/Content?id=@i.news_id">@i.news_title</a>
                </h3>
                <p>@i.news_info</p>@* 最多235字 *@
                <a href="~/News/Content?id=@i.news_id" class="btn btn-secondary">READ MORE</a>
            </article>
        }

    </section><!-- content //-->

</div>