@model ProcCore.Business.DB0.Brand
@{
    ViewBag.Title = "車款展示";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section css {
    <!--[if gte IE 9]><!-->
        <link href="~/Content/css/swiper.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
        <link rel="stylesheet" href="~/Content/css/popup.css">
    <!--<![endif]-->
}
@section Scripts {
    <!--[if gte IE 9]><!-->
        <script src="~/Content/js/bootstrap/tab.js"></script>
        <script src="~/Content/js/magnific/jquery.magnific-popup.min.js"></script>
        <script>
            // $('.popup').magnificPopup({
            //     type: 'ajax',
            //     closeOnBgClick: false,
            // });
            $('.popup').magnificPopup({
                type: 'iframe',
                iframe: {
                    patterns: {
                        album: {
                            id: 'id=',
                            src: 'Album%id%'
                        }
                    }
                }
            });
        </script>
    <!--<![endif]-->

    <!--[if lt IE 9]>
        <script type="text/javascript">
            // Bootstrap tab 特效 for ie8
            $('.nav-tabs .nav-link').click(function (event) {
                $(this).addClass('active');
                $(this).parent().siblings().find('.nav-link').removeClass('active');
                $('.tab-pane').hide().removeClass('active');
                $($.attr(this, 'href')).fadeIn().addClass('active');
                event.preventDefault();
            });
            // 燈箱改成開新視窗 for ie8
            $('.popup').click(function(event){
                window.open(this.href, 'new', 'width=900, height=500, scrollbars, resizable');
                event.preventDefault();
            });
        </script>
    <![endif]-->
}

<h1 class="sr-only">@ViewBag.Title - @Model.category_name</h1>

<div class="wrap">

    <section id="content">
        <h2 class="h1">@Model.brand_name</h2>

        <dl class="pro-intro row">
            <dt class="thumb"><img data-original="@Model.imgsrc" alt="" class="lazy"></dt>
            <dd>
                <ul class="list-unstyled">
                    <li><em>車款</em>@Model.brand_name</li>
                    <li><em>車價</em>@Model.price</li>
                    <li><em>車色</em>@Model.colors</li>
                    <li><em>乘客數</em>@Model.seat 人座</li>
                    <li><em>排氣量</em>@Model.engine_displacement</li>
                    <li><em>變速系統</em>@Model.gearshift</li>
                </ul>
            </dd>
        </dl>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">特色</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">內裝/外觀</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">規格表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab4" role="tab">媒體報導</a>
            </li>
        </ul>

        <div class="tab-content">

            <section id="tab1" class="tab-pane active" role="tabpanel">
                <h3 class="sr-only">特色</h3>

                @* 編輯器 *@
                <div class="editor">@Html.Raw(Model.feature)</div>

            </section>

            <section id="tab2" class="tab-pane" role="tabpanel">
                <h3 class="sr-only">內裝/外觀</h3>
                <ol class="album row list-unstyled">
                    @foreach (var i in Model.albums)
                    {<li>
                            <a class="popup" href="~/Products/Album?id=@i.brand_album_id">
                                <img src="@i.imgsrc" alt="@i.album_name">
                                <span>@i.album_name</span>
                            </a>
                        </li>}
                </ol>

            </section>

            <section id="tab3" class="tab-pane" role="tabpanel">
                <h3 class="sr-only">規格表</h3>

                @* 編輯器 *@
                <div class="editor">@Html.Raw(Model.specification)</div>

            </section>

            <section id="tab4" class="tab-pane" role="tabpanel">
                <h3 class="sr-only">媒體報導</h3>

                @* 編輯器 *@
                <div class="editor">@Html.Raw(Model.news)</div>

            </section>

        </div>

    </section><!-- content //-->

</div>