@model ProcCore.Business.DB0.Brand
@{
    ViewBag.Title = "車款展示";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section css {
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
    <style>
        .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: auto;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    </style>
}
@section Scripts {
    <script src="~/Content/js/bootstrap/tab.js"></script>
    <script src="~/Content/js/magnific/jquery.magnific-popup.min.js"></script>
    <script>
        $('.popup').magnificPopup({
            type: 'ajax',
            closeOnBgClick: false,
            closeMarkup: '<button class="mfp-close"></button>'
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

<div class="wrap">

    <section id="content">
        <h2 class="h1">@Model.category_name</h2>

        <dl class="pro-intro row">
            <dt class="thumb"><img src="@Model.imgsrc" alt=""></dt>
            <dd>
                <ul class="list-unstyled">
                    <li><em>車款</em>@Model.brand_name</li>
                    <li><em>車價</em>@Model.price</li>
                    <li><em>車色</em>@Model.colors</li>
                    <li><em>乘客數</em>@Model.seat 人座</li>
                    <li><em>排氣量</em>@Model.engine_displacement</li>
                    <li><em>排檔方式</em>@Model.gearshift</li>
                </ul>
            </dd>
        </dl>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">特色</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">內裝/外觀</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">規格表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab4" role="tab">媒體報導</a>
            </li>
        </ul>

        <div class="tab-content">

            <section id="tab1" class="tab-pane active" role="tabpanel">
                <h3 class="sr-only">特色</h3>
                
                @* 編輯器 *@
                <div class="editor">@Html.Raw(Model.feature)</div>

            </section>

            <section id="tab2" class="tab-pane" role="tabpanel">
                <h3 class="sr-only">內裝/外觀</h3>

                <ol class="album row list-unstyled">
                    <li>
                        <a class="popup" href="~/Products/Album">
                            <img src="https://image.u-car.com.tw/carheadlinethumb1_16719.jpg" alt="">
                            <span>外觀外觀外觀外觀外觀外觀外觀外觀外觀</span>
                        </a>
                    </li>
                    <li>
                        <a class="popup" href="~/Products/Album">
                            <img src="https://image.u-car.com.tw/carspecialthumb_108.jpg" alt="">
                            <span>外觀</span>
                        </a>
                    </li>
                </ol>
                
            </section>

            <section id="tab3" class="tab-pane" role="tabpanel">
                <h3 class="sr-only">規格表</h3>

                @* 編輯器 *@
                <div class="editor">@Html.Raw(Model.specification)</div>
                
            </section>

            <section id="tab4" class="tab-pane" role="tabpanel">
                <h3 class="sr-only">媒體報導</h3>

                @* 編輯器 *@
                <div class="editor">@Html.Raw(Model.news)</div>
                
            </section>

        </div>

    </section><!-- content //-->

</div>