<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">
            <div class="wrap">

                <button class="menu-trigger"><span>MENU</span></button>

                <h1 class="logo"><a href="~/Index" title="回首頁">@Resources.Res.System_FrontName</a></h1>

                <div class="mobile-menu">

                    <ul class="topNav">
                        <li><a href="~/BuyCar#location">營業據點</a></li>
                        <li><a href="~/AboutUs">公司介紹</a></li>
                        <li><a href="~/News/List">最新消息</a></li>
                        <li><a href="~/Events/List">精彩活動回顧</a></li>
                        <li><a href="~/FAQ">FAQ 常見問題</a></li>
                        <li><a href="~/Enterprise">企業相關網站</a></li>
                        <li><a href="~/Careers">菁英招募</a></li>
                    </ul>
                    @{
                        var Brand = (List<ProcCore.Business.DB0.L1>)ViewBag.Brand;
                    }
                    <div id="series" class="showcase panel">
                        <h2 class="h2">車款展示</h2>
                        <ul class="menu">
                            @foreach (var i in Brand)
                            {
                                if (i.l2_list.Count() == 1)
                                {
                                    <li><a href="~/Products">@i.l1_name</a></li>
                                }
                                else if (i.l2_list.Count() > 1)
                                {
                                    <li>
                                        @* 有子項目的車款，<a>要加class, 參數 *@
                                        <a class="collapse-toggle panel-title collapsed" data-toggle="collapse" data-parent="#series" href="#l1-@i.l1_id" aria-expanded="false">@i.l1_name</a>
                                    </li>
                                }
                            }
                        </ul>

                        @foreach (var i in Brand)
                        {
                            if (i.l2_list.Count() > 1)
                            {
                                @* 子項目 *@
                                <ul id="l1-@i.l1_id" class="submenu collapse">
                                    @foreach (var j in i.l2_list)
                                    {
                                        <li><a href="~/Products">@j.l2_name</a></li>
                                    }
                                </ul>
                            }
                        }
                    </div>

                    <nav id="menu">
                        <h2 class="sr-only">主選單</h2>
                        <ul class="nav navbar-nav">
                            <li><a href="~/TestDrive">預約試乘</a></li>
                            <li><a href="~/UsedCar">認證中古車</a></li>
                            <li><a href="~/BuyCar">購車服務</a></li>
                            <li><a href="~/Repair">維修服務</a></li>
                            <li><a href="~/Loan">貸款專區</a></li>
                            <li><a href="~/Insurance">保險專區</a></li>
                            @* <li><a href="~/Accessory">配件專區</a></li> *@
                            <li><a href="~/Eco">綠能專區</a></li>
                        </ul>
                    </nav>

                </div>

            </div><!-- wrap //-->
        </header><!-- header //-->

        <main id="main">
            @if (ViewBag.IsFirstPage)
            {
                @RenderBody()
            }
            else
            {
                @RenderBody()
            }
        </main>

    </div><!-- wrapper //-->

    <footer id="footer">
        <div class="wrap">
            <h1 class="tel">服務專線<strong>0800-030-530</strong></h1>
            <div class="copyright">SYM 順益汽車 &copy; 2015</div>
            <a href="#header" class="goTop scroll">TOP</a>
        </div>
    </footer><!-- footer -->

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="~/Content/js/bootstrap/util.js"></script>
    <script src="~/Content/js/bootstrap/collapse.js"></script>

    <script type="text/javascript">
        // 回頂端
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.goTop').fadeIn();
            } else {
                $('.goTop').fadeOut();
            }
        });
        $('.scroll').click(function (event) {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - 50
            }, 1000);
            event.preventDefault();
        });

        // 行動裝置的主選單
        $(".menu-trigger").click(function (event) {
            $(this).toggleClass("active");
            $("body").toggleClass("push");
            $(".mobile-menu").toggleClass("pull");
            event.preventDefault();
        });
    </script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/GoogleAnalytics.js"></script>
</body>
</html>