<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="省油車, 買車, 汽車資訊, 順益汽車, 新車資訊, 房車, 轎車, 休旅車, 進口車, 商用車, COLT PLUS, X-Sport, Zinger, Pajero, Outlander, Lancer, Fortis, Sportback, PHEV">
    <meta name="description" content="順益汽車-提供全方位的汽車相關服務，新車銷售、中古車買賣、汽車貸款、汽車保險、維修保養的第一選擇。">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    @*
    <script src="~/Scripts/cdn/BrowerInfo.js"></script> *@
    <script>
        var gb_approot = '@Url.Content("~")';
        var isIe8 = false;
    </script>
    <!--[if lt IE 9]>
        <script>
            document.createElement('header');
            document.createElement('main');
            document.createElement('footer');
            document.createElement('nav');
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('figure');
            document.createElement('figcaption');
            isIe8 = true;
        </script>
    <![endif]-->
    @if (ViewBag.IsFirstPage)
    {
    <!--[if lt IE 9]><link href="@Url.Content("~/Content/css/index-ie.css?v=@CommWebSetup.CacheVer")" rel="stylesheet"><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="~/Content/css/index.css?v=@CommWebSetup.CacheVer" rel="stylesheet"> <!--<![endif]-->
    }
    else
    {
    <!--[if lt IE 9]><link href="@Url.Content("~/Content/css/page-ie.css?v=@CommWebSetup.CacheVer")" rel="stylesheet"><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="~/Content/css/page.css?v=@CommWebSetup.CacheVer" rel="stylesheet"> <!--<![endif]-->
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <!--[if lt IE 9]>
            <div class="warning-bar">
                【注意】您使用的瀏覽器版本較舊，無法使用本網站的部分功能。建議您使用其他瀏覽器軟體如 <a href="https://www.google.com.tw/intl/zh-TW/chrome/" target="new">Google Chrome</a> 或升級瀏覽器，以獲得最佳瀏覽體驗。
            </div>
        <![endif]-->

        <header id="header">
            <div class="wrap">

                <button class="menu-trigger hidden-lg-up"><span>MENU</span></button>

                <h1 class="logo"><a href="~/Index" title="回首頁">@Resources.Res.System_FrontName</a></h1>

                <div class="mobile-menu">

                    <ul class="topNav list-inline">
                        <li><a href="~/Map?type=1">營業據點</a></li>
                        <li><a href="~/AboutUs">公司介紹</a></li>
                        <li><a href="~/News/List">最新消息</a></li>
                        <li><a href="~/Events/List">精彩活動回顧</a></li>
                        <li><a href="~/FAQ/Form">聯絡我們</a></li>
                        <li><a href="~/Enterprise">企業相關網站</a></li>
                        <li><a href="~/Careers">菁英招募</a></li>
                    </ul>
                    @{
                    var Brand = (List<ProcCore.Business.DB0.L1>
                        )ViewBag.Brand;
                        }
                        <div id="series" class="showcase panel">
                            <h2 class="h2">車款展示</h2>
                            <ul class="menu list-inline">
                                @foreach (var i in Brand)
                                {
                                if (i.l2_list.Count() == 1)
                                {
                                <li><a href="~/Products?id=@i.l2_list[0].l2_id">@i.l1_name</a></li>
                                }
                                else if (i.l2_list.Count() > 1)
                                {
                                <li class="collapse-nav">
                                    @* 有子項目的車款，<a>
                                        要加class, 參數 *@
                                        <a class="collapse-toggle panel-title collapsed hidden-md-down" data-toggle="collapse" data-parent="#series" href="#l1-@i.l1_id" aria-expanded="false">@i.l1_name</a>
                                </li>
                                }
                                else {
                                <li><a href="~/Products">@i.l1_name</a></li>
                                }
                                }
                            </ul>

                            @foreach (var i in Brand)
                            {
                            if (i.l2_list.Count() > 1)
                            {
                            @* 子項目 *@
                            <ul id="l1-@i.l1_id" class="submenu list-inline collapse">
                                @foreach (var j in i.l2_list)
                                {
                                <li><a href="~/Products?id=@j.l2_id">@j.l2_name</a></li>
                                }
                            </ul>
                            }
                            }
                        </div>

                        <nav id="menu" class="navbar">
                            <h2 class="sr-only">主選單</h2>
                            <ul class="nav navbar-nav">
                                <li><a href="~/TestDrive">預約試乘</a></li>
                                <!--[if lt IE 9]><li><a href="@Url.Content("~/UsedCar/List")">認證中古車</a></li><![endif]-->
                                <!--[if gte IE 10]><!--><li><a href="~/UsedCar">認證中古車</a></li><!--<![endif]-->
                                <li><a href="~/BuyCar?type=1">購車服務</a></li>
                                <li><a href="~/Repair">維修服務</a></li>
                                <li><a href="~/Loan">貸款專區</a></li>
                                <li><a href="~/Insurance">保險專區</a></li>
                                @* <li><a href="~/Accessory">配件專區</a></li> *@
                                <li><a href="~/Eco">綠能專區</a></li>
                            </ul>
                        </nav>

                </div>

            </div><!-- wrap //-->
        </header><!-- header //-->

        <main id="main">
            @if (ViewBag.IsFirstPage)
            {
            @RenderBody()
            }
            else
            {
            @RenderBody()
            }
        </main>

    </div><!-- wrapper //-->

    <footer id="footer">
        <div class="wrap">
            <h1 class="tel">服務專線<strong>0800-030-530</strong></h1>
            <div class="copyright">SYM 順益汽車 &copy; 2016 <a href="~/FAQ/Form">聯絡我們</a></div>
            <a href="#header" class="goTop scroll">TOP</a>
        </div>
    </footer><!-- footer -->
    <!--[if lt IE 9]>
            <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
            <script src="/Scripts/cdn/jQuery.XDomainRequest.js"></script>
    <![endif]-->

    <!--[if gte IE 9]><!-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/bootstrap/util.js"></script>
    <script src="~/Content/js/bootstrap/collapse.js"></script>
    <!--<![endif]-->
    <script type="text/javascript">
        // 回頂端
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.goTop').fadeIn();
            } else {
                $('.goTop').fadeOut();
            }
        });
        $('.scroll').click(function (event) {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 1000);
            event.preventDefault();
        });

        // 行動裝置的主選單
        $(".menu-trigger").click(function (event) {
            $(this).toggleClass("active");
            $("body").toggleClass("push");
            $(".mobile-menu").toggleClass("pull");
            event.preventDefault();
        });
    </script>

    @* Bootstrap collapse 特效 for ie8 *@
    <!--[if lt IE 9]>
        <script type="text/javascript">
            $('.collapse-toggle').click(function (event) {
                $($.attr(this, 'href')).slideToggle();
                event.preventDefault();
            });
        </script>
    <![endif]-->
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/GoogleAnalytics.js"></script>
</body>
</html>