@model ProcCore.Business.DB0.EditorDetail
@{
    ViewBag.Title = "綠能專區";
    ViewBag.BodyClass = "Eco";
    Layout = "~/Views/Shared/Layout.cshtml";
    var sidebar = (List<ProcCore.Business.DB0.option>)ViewBag.Sidebar;
}
@section Scripts {
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu wrap list-inline">

        @* current page: <a> + class="current" *@
        @foreach (var i in sidebar)
        {
            if (ViewBag.detail_id == i.val)
            {
                <li><a class="current" href="~/Eco?id=@i.val">@i.Lname</a></li>
            }
            else {
                <li><a href="~/Eco?id=@i.val">@i.Lname</a></li>
            }
        }

    </ul>
</aside><!-- sidebar //-->

<div class="wrap">

    <section id="content">
        <h2 class="h1">@Model.detail_name</h2>
        <div class="editor">
            @Html.Raw(Model.detail_content)
        </div>
    </section><!-- content //-->

</div>