@model List<ProcCore.Business.DB0.m_Event>
@{
    ViewBag.Title = "購車服務";
    ViewBag.BodyClass = "BuyCar p0";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var banner = new Swiper('#banner', {
            effect: 'fade',
            autoplay: 2500,
            autoplayDisableOnInteraction: 'true',
            speed: 500
        });
        var bannerThumb = new Swiper('#banner-thumb', {
            spaceBetween: 10,
            centeredSlides: true,
            slidesPerView: 3,
            touchRatio: 0.2,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slideToClickedSlide: true
        });
        banner.params.control = bannerThumb;
        bannerThumb.params.control = banner;

        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
        var gb_type = '@Request.QueryString["type"]';
    </script>
    <script src="~/Scripts/build/app/vendors.js?v=@CommWebSetup.CacheVer"></script>
    <script src="~/Scripts/build/app/w_location.js?v=@CommWebSetup.CacheVer"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Content/js/gmap-location.js"></script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/BuyCar/BuyCar_sidebar.cshtml")

<section id="content">

    <section id="banner" class="swiper-container">
        <h2 class="sr-only">最新購車優惠</h2>
        <ul class="swiper-wrapper list-unstyled">
            @foreach (var i in Model)
            {
                if (i.show_banner & i.banner_imgsrc != null)
                {
                    <li class="swiper-slide">
                        <a href="~/Offer/Content?id=@i.event_id"><img src="@i.banner_imgsrc" alt="@i.event_title"></a>
                    </li>
                }
            }
        </ul>
    </section>
    <div class="grid-gallery bg2">
        <div class="wrap">
            <div id="banner-thumb" class="swiper-container">
                <ul class="swiper-wrapper list-unstyled">
                    @foreach (var i in Model)
                    {
                        <li class="swiper-slide">
                            <img src="@i.list_imgsrc" alt="@i.event_title">
                        </li>
                    }
                </ul>
                <a class="prev swiper-button-prev" href=""></a>
                <a class="next swiper-button-next" href=""></a>
            </div>
        </div>
    </div>



    <div id="location" class="grid-location">

    </div>

</section>