@model List<ProcCore.Business.DB0.m_Faq>
@{
    ViewBag.Title = "FAQ 常見問題";
    ViewBag.BodyClass = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
    var index = 1;
}
@section Scripts {
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/FAQ/FAQ_sidebar.cshtml")

<div class="wrap">

    <section id="content">
        <h2 class="h1">@ViewBag.category_name</h2>
        @foreach (var i in Model)
        {
            <article class="article-list">
                <h3 class="h2">
                    <small>FAQ @index.</small>
                    @i.faq_title
                </h3>
                <div class="editor">
                    @Html.Raw(i.faq_content)
                </div>
            </article>
            index++;
        }
    </section><!-- content //-->

</div>