@model List<ProcCore.Business.DB0.m_Event>
@{
    ViewBag.Title = "購車優惠";
    ViewBag.BodyClass = "Offer p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
}

@section Scripts {
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/BuyCar/BuyCar_sidebar.cshtml")

<div class="wrap">

    <section id="content">

        <h2 class="h1">@ViewBag.Title</h2>

        <section class="grid-products">
            <h3 class="sr-only">優惠一覽</h3>

            <ol class="card-list row">
                @foreach (var i in Model)
                {
                    <li class="card-wrap">
                        <dl class="card">
                            <dt class="card-img-top">
                                <a href="~/Offer/Content?id=@i.event_id" title="SEE MORE">
                                    <img src="@i.list_imgsrc" alt="">
                                </a>
                            </dt>
                            <dd class="card-block">
                                <article>
                                    <h3 class="card-title">
                                        <a href="~/Offer/Content?id=@i.event_id">@i.event_title</a>
                                    </h3>
                                    <div class="card-text">@i.event_info</div>
                                </article>
                            </dd>
                        </dl>
                    </li>
                }
            </ol>

        </section>

    </section><!-- content //-->

</div>