@model ProcCore.Business.DB0.Event
@{
    ViewBag.Title = "購車優惠";
    ViewBag.BodyClass = "Offer page_content p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });

        //回上一頁
        $('a#goBack').click(function () {
            history.back();
            return false;
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/BuyCar/BuyCar_sidebar.cshtml")

<section id="content">

    @* 如果有 Banner *@
    <div id="banner">
        <ul class="list-unstyled">
            @if (Model.banner_imgsrc != null)
            {
                <li><img src="@Model.banner_imgsrc" alt=""></li>
            }
        </ul>
    </div>

    <div class="wrap">

        <h2 class="h1">@Model.event_title</h2>
        <div class="editor">
            @Html.Raw(Model.event_content)
        </div>

    </div>

</section><!-- content //-->