@model List<ProcCore.Business.DB0.m_Event>
@{
    ViewBag.Title = "精彩活動回顧";
    ViewBag.BodyClass = "Events";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <!--[if gte IE 9]><!--> <link href="~/Content/css/swiper.min.css" rel="stylesheet"> <!--<![endif]-->
}

@section Scripts {
    <!--[if gte IE 9]><!-->
        <script src="~/Content/js/swiper/swiper.min.js"></script>
        <script>
            var banner = new Swiper('#banner', {
                effect: 'fade',
                autoplay: 2500,
                autoplayDisableOnInteraction: 'true',
                speed: 500,
                pagination: '.swiper-pagination',
                paginationClickable: true
            });
        </script>
    <!--<![endif]-->
    <script>
        // 因為圖片設定為高度不固定，所以讓banner套用最矮slide的高度，以免跑版
        $(window).load(function () {
            var h = $("#banner .swiper-slide:first-child img").height();
            $("#banner img").each(function () {
                if ($(this).height() < h) { h = $(this).height(); }
            });
            $("#banner").height(h);
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

    <div id="banner" class="swiper-container">

        <ul class="swiper-wrapper list-unstyled">

            @foreach (var i in Model)
            {
                if (i.show_banner & i.banner_imgsrc != null)
                {
                    <li class="swiper-slide">
                        <a href="~/Events/Content?id=@i.event_id"><img src="@i.banner_imgsrc" alt="@i.event_title"></a>
                    </li>
                }
            }

        </ul>

    </div>

<div class="wrap">

    <section id="content">

        <h2 class="h2">@ViewBag.Title</h2>

        <section class="grid-products">
            <h3 class="sr-only">活動一覽</h3>

            <ol class="card-list row">
                @foreach (var i in Model)
                {
                    <li class="card-wrap">
                        <dl class="card">
                            <dt class="card-img-top">
                                <a href="~/Events/Content?id=@i.event_id" title="SEE MORE">
                                    <img src="@i.list_imgsrc" alt="@i.event_title">
                                </a>
                            </dt>
                            <dd class="card-block">
                                <article>
                                    <h3 class="card-title">
                                        <a href="~/Events/Content?id=@i.event_id">@i.event_title</a>
                                    </h3>
                                    <div class="card-text">@i.event_info</div>
                                </article>
                            </dd>
                        </dl>
                    </li>
                }
            </ol>

        </section>

    </section><!-- content //-->

</div>